body{
    margin: 0%;
}

.topPage{
    background-image: url(../images/TopPage.jpg);
    height: 300px;
    background-repeat: no-repeat;
}
.title{
    color: white;
    text-align: center;
}

.paragraph{
    color: black;
    text-align: center;
}

@media only screen and (max-width: 1000px) {}